@import url('https://fonts.googleapis.com/css2?family=Doodle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbffb1;
    background-image: url(img/par_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    font-family: 'Doodle', cursive;
    padding: 100px 320px;
    min-height: 100vh;
    height: 1100px;
}

main h1, main h2 {
    text-align: center;
    margin: 10px 0;
}

#title {
    font-size: 2rem;
}

#subtitle {
    font-size: 1.5rem;
    color: rgb(59, 59, 59);
}

.pgf {
    text-align: justify;
    padding-top: 30px;
    margin: 0 10%;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

.pgf a {
    text-decoration: none;
    font-family: 'Gloria Hallelujah';
    color: red;
}

.pgf a:hover {
    text-decoration: underline;
    color: rgb(253, 100, 100);
}

.pgf abbr {
    text-decoration: none;
    color: rgb(18, 54, 122);
}

@media (max-width: 1300px) {
    body {
        background-image: url(img/par_1.png);
        background-position: center;
        background-size: cover;
        padding: 40px;
    }

    #title {
        font-size: 1.8rem;
    }

    #subtitle {
        font-size: 1.3rem;
    }

    .pgf {
        font-size: 1rem;
        margin: 0 5%;
    }
}
